*{
    padding: 0;
    margin: 0;
}

.container{
    margin-top: 50px;
}

#nav{
    margin: 13px 0 0 0;
}

#nav ul li{
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 130px;
    font-weight: 600;
}

#nav a{
    text-decoration: none;
}

#nav a:hover{
    text-decoration: underline;
}

#headerImage img{
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}

.feature img{
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}

.divider{
    background-color: #B6B6B6;
    margin-top: 35px;
}

#planification{
    background-color: sandybrown;
    padding: 10px;
    height: 550px;
    border-radius: 10px;
}

#creation{
    background-color: indianred;
    padding: 10px;
    height: 550px;
    border-radius: 10px;
}

#optimisation{
    background-color: olive;
    padding: 10px;
    height: 550px;
    border-radius: 10px;
}

.service{
    text-align: justify;
    font-size: 15px;
}
